<h2>{{celebrityDetails.name}}</h2>
<p>Occupation: {{celebrityDetails.occupation}}</p>
<p>Catch Phrase: "{{celebrityDetails.catchPhrase}}"</p>

<form action="/celebrities/{{celebrityDetails._id}}" method="post">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name" value='{{celebrityDetails.name}}'/>

  <label for="occupation">Occupation: </label>
  <select name="occupation">
    <option select disabled>Select your occupation</option>
    <option value="actor">Actor</option>
    <option value="singer">Singer</option>
    <option value="comedian">Comedian</option>
    <option value="unknown">Unknown</option>
  </select>

  <label for="catchPhrase">Catch Phrase: </label>
  <input type="text" name="catchPhrase" id="catchPhrase" value='{{celebrityDetails.catchPhrase}}''>

  <button type="submit">Update this celebrity!</button>
</form>